---
import { getCollection } from "astro:content";
import License from "../components/license.astro";
import PageHead from "../components/page_head.astro";
import Layout from "../layouts/Layout.astro";
const art_collection = await getCollection("art");
const art = art_collection.map((art) => art.data).reverse();
---

<Layout>
    <PageHead>art</PageHead>
    <div class="container">
        <p>
            I like to draw digitally sometimes, so here are a few drawings I've made. 
            I don't take art very seriously, but I have enjoyed making these pieces. 
            All are under the same license as the site (<License inline={true}/>).
        </p>
        <p class="text-sub">drawings:</p>
    </div>
    <div class="container-fluid">
        <div class="row gx-2 gy-2 justify-content-center my-3">
        {
            art.map((piece) => (
                <div class="art-col">
                    <img class="img-thumbnail" src={`/large/art/${piece.file_name}.png`} alt={`${piece.name}`}>
                    <a href={`/large/art/${piece.file_name}.png`}>{piece.name}</a>
                    <p>{piece.description}</p>
                </div>
            ))
        }   
        </div>
    </div>

</Layout>