---
import { getCollection } from "astro:content";
import LanguageRow from "../components/language_row.astro";
import Layout from "../layouts/Layout.astro";
import ProjectRow from "../components/project_row.astro";
const projects_collection = await getCollection("projects");
const projects = projects_collection.map((project) => project.data).sort((a, b) => a.rank - b.rank);
const language_collection = await getCollection("languages");
const languages = language_collection.map((language) => language.data).map((data) => {
    return {...data, 
        projects: projects
        .filter((project) => project.languages.includes(data.name))
        .map((project) => ({name: project.name, link: project.link}))
    };
}).sort((a, b) => a.rank - b.rank);
---
<Layout>
    <main>
        <p class="head">code</p>
        <p class="text-sub">projects:</p>
        <div class="container flex-d justify-content-center mx-2">
            <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">view</th>
                        <th scope="col">about</th>
                        <th scope="col">languages</th>
                  </tr>
                </thead>
                <tbody>
                    {
                        projects.map(({name, description, link: link, languages}) => {
                            return (
                                <ProjectRow 
                                    name={name} 
                                    link={link}
                                    description={description}
                                    languages={languages}
                                }/>
                            );
                        })
                    }
                </tbody>
            </table>
            </div>
        </div>
         <p class="text-sub">languages:</p>
        <div class="container flex-d justify-content-center mx-2">
            <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">level (1-5)</th>
                        <th scope="col">projects</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        languages.map(({name, icon_name, verbosity, projects}) => {
                            return (
                                <LanguageRow 
                                    name={name} 
                                    icon_name={icon_name} 
                                    verbosity={verbosity} 
                                    projects={projects}
                                }/>
                            );
                        })
                    }
                </tbody>
            </table>
            </div>
        </div>
   </main>
</Layout>