---
import { Icon } from 'astro-icon/components';

interface Props{
    name: string;
    icon_name: string;
    verbosity: number;
    projects: {name: string, link: string}[];
}
const {name, icon_name, verbosity, projects} = Astro.props;
function fill_between(arr: any[], pad: any): any[]{
    const len = arr.length;
    const new_arr = [];
    for (let i = 0; i < len; i++) {
        new_arr.push(arr[i]);
        if (i === len - 1) {
            continue;
        }
        new_arr.push(pad);
    }
    return new_arr;
}
---

<tr>
    <th scope="col">{name} <Icon name={icon_name}/> </th>
    <td>{verbosity}</td>
    <td>{
        fill_between(projects.map((project ) => (
            <a class="text-white" href={project.link}>{project.name}</a>
        )), (<span>, </span>))
    }</td>
</tr>
