---
interface SocialJson{
    name: string;
    description: string;
    file_name: string;
    date: Date;
    bandcamp_embed: {
        large: string;
        small: string;
    };
    links: {name: string, link: string}[];
    parent?: string;
    lyrics?: boolean;
    video?: boolean;
}
interface Props{
    social_json: SocialJson;
}
const {social_json} = Astro.props;
let addition = "";
let dir = social_json.file_name;
if (typeof social_json.parent !== "undefined"){
    addition = ` (${social_json.parent})`;
    dir = social_json.parent;
}
const collapse_id = `${social_json.file_name}_collapse`
---
<div class="accordion-item accordion-style">
    <h2 class="accordion-header">
      <button class="accordion-button accordion-style" type="button" data-bs-toggle="collapse" data-bs-target=`#${collapse_id}`>
        <div class="row">
            <div class="col">
                {`${social_json.name}${addition}`}
            </div>
            <div class="col-auto">
                <img src=`/music/${dir}/cover.jpg` alt=`${social_json.name} cover image` width="40px">
            </div>
        </div>
      </button>
    </h2>
    <div id={collapse_id} class="accordion-collapse collapse" data-bs-parent="#tracks">
        <div class="accordion-body accordion-style">
            <div class="container gy-3">
               <div class="row">
                    {social_json.description}
                </div>
                {
                    [social_json.video].filter((video) => video === true).map((_) => (
                        <div class="row my-3">
                            <video src=`/music/${dir}/${social_json.file_name}.mp4` controls></video>
                        </div>
                    ))
                }
                <div class="row mt-2 bandcamp_embeds">
                    <iframe style="border: 0; width: 100%; height: 120px;" class="d-none d-sm-none d-md-block" src={social_json.bandcamp_embed.large} seamless></iframe> 
                    <iframe style="border: 0; width: 100%; height: 42px;" class="d-md-none" src={social_json.bandcamp_embed.small} seamless></iframe> 
                </div>
                 {[social_json.lyrics].filter((x) => x === true).map((_) => (
                <div class="row mt-2">
                    <a href=`/music/${dir}/lyrics.md`>lyrics</a>
                </div>))}
               <div class="row mt-3">
                    <div class="col-auto">found at:</div>
                {
                    social_json.links.map(({link, name}) => (
                        <div class="col-auto"><a href={link}>{name}</a></div>
                    ))
                }
                </div>
                <div class="row mt-2">
                    <div class="col-auto">download:</div>
                {
                ["mp3", "flac", "wav"].map((format) => (
                    <div class="col-auto">
                        <a href=`/music/${dir}/${social_json.file_name}.${format}`>
                            {format}
                        </a>
                    </div>
                    ))
                }
                </div>
            </div>
        </div>
    </div>
  </div>
